!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Frosty.co
    link(rel='stylesheet', href='/css/nomalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/about.css')
  body
    .cover
      block body