
.profile {
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 23%;
}
.profile header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}
.profile img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
  border-radius: 5px;
}
.profile .image-outer {
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 3px;
}
.profile .bio {
  text-align: center;
  display: block;
  margin: auto;
}
.profile-row {
  margin: 360px auto 20px auto;
  padding: 0 40px 0 40px;
}
