body {
  font-family: Garamond, Sans-serif;
  color: white;
}
.cover {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.333);
}
.top-bar,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
  text-shadow: 0 0 0.2em white;
  background: rgba(50, 50, 50, 0.8);
  border-radius: 2px;
}
.top-bar {
  padding-top: 10px;
  padding-right: 40px;
}
.top-bar-section ul li > a {
  font-family: Garamond, Sans-serif;
  font-size: 1.2rem;
}
.title-row {
  margin-top: auto auto;
}
header.page-title {
  font-size: 72px;
}
.center {
  display: block;
  top: 30%;
  left: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(-50%,-50%);
  -webkit-transform-origin: 50% 50%;
  position: absolute;
}
@media only screen and (min-width: 64.063em) {
  .column, .columns {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

/*** CLEARFIX ***/
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}